body {
  padding: 20px;
  box-sizing: border-box;
  font-family: Times, 'Times New Roman', Georgia, serif !important;
}

/* few bootstrap classes customized */
.form-label {
  font-size: 14px;
}

th {
  font-size: 15px;
}

td {
  font-size: 14px;
  font-weight: 200;
  max-width: 0px;
}

a {
  color: #0d6efd !important;
  text-decoration: underline !important;
  cursor: pointer;
}
